@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Doto:wght@100..900&family=Pacifico&family=Playfair+Display:ital@0;1&display=swap');

body{

	margin:3rem;
	background-color: black;
	background-image: linear-gradient(rgba(211, 211, 211, 0.713) 1px, transparent 1px),
					  linear-gradient(90deg, rgba(211, 211, 211, 0.713) 1px, transparent 1px);
					  ,opacity: 30%;
	background-size:30px 30px;
	margin-bottom:10rem;
	height:100vw;
}

p{
	display:flex;
	text-wrap:balance;
	-webkit-hyphens: auto; 
	hyphens: auto;
}


h1{
	font-size:3rem;
	font-family: "Pacifico";
	line-height:3rem;
	font-variant: small-caps;
	background-color:black;
	transform: rotate(-10deg);
	margin-right:-2rem;
	padding: 1rem 1rem;
	margin-bottom:2rem;
	margin-top:-2rem;
	filter:drop-shadow(7px 7px antiquewhite);
	
	
}

.h1sub{
	
		background-color: antiquewhite;
		font-size:1rem;
		line-height: 1.6rem;
		padding:1rem;
		margin-left:0.5rem;
		text-align: center;
		filter:var(--shadow2);
		border-radius:1rem;
		
}

.h1-text{
	font-style:oblique;
background-color: antiquewhite;
filter:drop-shadow(8px 10px 10px rgba(3, 2, 2, 0.25));
padding:1rem;
width:16rem;

}


h2{
	/* font-size:3rem;
	font-family: "Pacifico";
	text-align: center;
	margin-top:2rem; */
	
}

.h2sub{
	font-size:1rem;
	background-color: white;
	padding:0.7rem;
	margin-top:1rem;
	width:60%;
	text-align: center;
	font-style:italic;
	font-family:serif;
	margin-left:2rem;
	position: fixed;
	top:56vh;
	z-index: -1;
	opacity: 70%;
	transform:rotate(3deg);
	mix-blend-mode:difference;
	
}



.manytexts{
	display:grid;
	gap:20px;
	opacity: 85%;
	
}
section{
	background-color: black;
	color:antiquewhite;
	filter:var(--shadow2);
	padding:1rem;
	margin-top: 2rem;
	margin-left:-2rem; 
	margin-right:-2rem;
	margin-bottom: 0.5rem;
	border: 2px solid antiquewhite;
	border-radius: 1rem;

}

#h1white{
	color: white;
	/* -webkit-text-stroke: 2px  black; */
}
 .brand{
	color:antiquewhite;
 }
 
summary{
	
	list-style: revert;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.2rem;
	text-align: center;
	font-weight:600;
	margin-bottom:0.7rem;
	padding:1rem;
}



.h1-italic{
	margin-top:3rem;
}

.h1-text2{
	margin-left:1rem;
	text-decoration: underline;
	
}

footer{
	font-weight: bold;
	border-top: solid 2px;
	margin-top : 10rem;
	padding-top: 1rem;
	text-align: center;
	background-color: black;
	color:antiquewhite;
	padding: 2rem;
	margin-left:-3rem;
	margin-right:-3rem;	
	justify-content: center;
	display: flex;
}

.go-top{
	position:fixed;
	bottom:2rem;
	right: 0.7rem;
	font-size:0.8rem;
	background-color: black;
	color:antiquewhite;
	border: 2px solid antiquewhite;
	padding:1rem;
	width:1rem;
	height:1rem;
	justify-content: center;
	display:flex;
	align-items: center;

	font-weight: bold;

}

.go-top:hover{
	background-color: antiquewhite;
	color:black;
}

@media (min-width: 1280px){

body{
	margin:3rem;
	background-color: white;
	background-image: linear-gradient(antiquewhite 3px, transparent 3px),
					  linear-gradient(90deg, antiquewhite 3px, transparent 3px);
	background-size:50px 50px dot;
	margin-bottom:10rem;
}

h1{

	transform:none;
	/* text-align: center; */
	font-size: 7rem;
	margin:-3rem;
	padding: 6rem;
	background-color: black;
	color:antiquewhite;
}
.brand{
	display:inline-block;
	margin-right: 8rem;
}
#h1white{
	-webkit-text-stroke: 1px white;
	color:black;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	display: inline-block;
	
}

.brand::first-letter{
	color:white;
}

.letter{
	display: inline-block;
	animation: bounce 2s infinite;
}

.letter:nth-child(1){
	animation-delay: 0s;
	color:white;
}
.letter:nth-child(2){
	animation-delay: 0.2s;
}
.letter:nth-child(3){
	animation-delay: 0.4s;
}
.letter:nth-child(4){
	animation-delay: 0.6s;
	color:white;
}
.letter:nth-child(5){
	animation-delay: 0.8s;
}
.letter:nth-child(6){
	animation-delay: 1s;
}
.letter:nth-child(7){
	animation-delay: 1.2s;
}
.letter:nth-child(8){
	animation-delay: 1.4s;
}
.letter:nth-child(9){
	animation-delay: 1.6s;
}
.letter:nth-child(10){
	animation-delay: 1.8s;
}


@keyframes bounce{
	0%,40%,100%{
		transform:translateY(0);
	}
	20%{
		transform: translateY(-30px);
	}
}

.h1sub{
	font-size: 32px;
	text-align: right;
	margin-top:3rem;
	padding:2rem;
	width:fit-content;
	margin-left:50rem;
	color:black;
	background-color:white;
	filter:var(--shadow);
	transform:rotate(3deg);
	filter:  drop-shadow(8px 8px  black);
}
.h2sub{
	padding:1.7rem;
	font-size: larger;
	background-color: white;
	margin-top: 5rem;
	filter:var(--shadow);
	width:fit-content;
	margin-left:1rem;
	width:17%;
	text-align: center;
	margin-bottom:-10rem;
	position: fixed;
	top:41vh;
	/* border-radius: 7rem; */
	font-style: italic;
	text-decoration: underline;
	opacity: 100%;
	mix-blend-mode:normal;
	transform:none;
}

/* .h1-text{
	width:90vw;
	justify-content: center;
	box-sizing: content-box;
	
}
.h1-text2{
padding-left:25rem;
	
} */

 h2{
	font-size:1rem;
	/* text-align: center;
	padding-top: 1rem; */
	
} 

.manytexts{
	display:grid;
	/* grid-template-columns:repeat(2,1fr); */
	/* gap:20px; */
	 width: 50vw;
	 padding-right:7rem;
	margin-left: 25rem; 
	opacity:100%;
}

section{
	width: 120%;
	background-color: antiquewhite;
	color:black;
	border-radius: 3rem;
	filter:var(--shadow);
	padding:1.7rem;
	opacity: 100%;
	margin-top:3rem;
	margin-left:0.1rem;	
	margin-bottom:-3rem;
	line-height: 1.7rem;
	text-wrap:balance;
	/* position:sticky;
	top:0; */
	
	
}

section:nth-child(1):hover
,section:nth-child(3):hover
,section:nth-child(5):hover
,section:nth-child(7):hover
,section:nth-child(9):hover
,section:nth-child(11):hover
,section:nth-child(13):hover
,section:nth-child(15):hover
,section:nth-child(17):hover
,section:nth-child(19):hover{
	background-color: black;
	color:antiquewhite;

}

section:nth-child(2):hover
,section:nth-child(4):hover
,section:nth-child(6):hover
,section:nth-child(8):hover
,section:nth-child(10):hover
,section:nth-child(12):hover
,section:nth-child(14):hover
,section:nth-child(16):hover
,section:nth-child(18):hover
,section:nth-child(20):hover{
	background-color: antiquewhite;
	color:black;

}

section:nth-child(2)
,section:nth-child(4)
,section:nth-child(6)
,section:nth-child(8)
,section:nth-child(10)
,section:nth-child(12)
,section:nth-child(14)
,section:nth-child(16)
,section:nth-child(18)
,section:nth-child(20)
{ background-color: black;
	color:white;
	/* margin-left:44rem; */
	
}







footer{
	font-weight: bold;
		border-top: solid 2px;
		margin-top : 10rem;
		padding-top: 1rem;
		text-align: center;
		background-color: black;
		color:antiquewhite;
		padding: 2rem;
		margin-left:-3rem;
		margin-right:-3rem;
		justify-content: space-between;
	}

.go-top{
	position:fixed;
	bottom:2rem;
	right: 2.5rem;
	font-size:1.3rem;
	background-color: black;
	color:antiquewhite;
	border: 1px solid antiquewhite;
	padding:1rem;
	width:2.5rem;
	height:2.5rem;
	display:flex;
	align-items: center;
	justify-content: center;
	

}
.go-top:hover{
	background-color: antiquewhite;
	color:black;
}

summary{
	list-style: revert;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:1.3rem;
	text-align: center;
	font-weight:bold;
	margin-bottom:0.7rem;
	padding:0.5rem;
}



}

