@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Doto:wght@100..900&family=Pacifico&family=Playfair+Display:ital@0;1&display=swap');


body{
	margin:3rem;
	background-color: white;
	background-image: linear-gradient(lightgray 3px, transparent 3px),
					  linear-gradient(90deg, lightgray 3px, transparent 3px);
	background-size:50px 50px;
	height:100vw;
}

h1{
	font-size: 3rem;
	background-color: black;
	color:antiquewhite;
	/* -webkit-text-stroke: 0.7px antiquewhite; */
	padding:3rem;
	font-family: "Pacifico";
	border-radius: 30px;
	line-height: 4.2rem;
	text-align: center;
	filter:drop-shadow(10px 10px antiquewhite);

}


.box1,.box3{
	font-family:  "Pacifico";
	font-size:3rem;
	line-height: 4rem;
	background-color: antiquewhite;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top:4rem;
	height:80vw;
	width: 100%;
	transform: rotate(10deg);
	display: flex;
	filter:drop-shadow(8px 10px 10px rgba(3, 2, 2, 0.25));
	transition:transform 0.2s ease, background-color 0.3s ease;
}
.backbox, .backbox2,.backbox3{
	display: none;
}
.box2{
	font-family:  "Pacifico";
	font-size:3rem;
	line-height: 4rem;
	background-color: antiquewhite;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top:4rem;
	height:80vw;
	width: 100%;
	transform: rotate(-10deg);
	display: flex;
	filter:drop-shadow(8px 10px 10px rgba(3, 2, 2, 0.25));
	transition:transform 0.2s ease, background-color 0.3s ease;
}
.box1:hover , .box3:hover{
	transform: rotate(-10deg);
	background-color: black;
	color:antiquewhite;
	
}

.box2:hover{transform: rotate(20deg);
	background-color: black;
	color:antiquewhite;}

	footer{
		font-weight: bold;
		border-top: solid 2px;
		margin-top : 10rem;
		padding-top: 1rem;
		text-align: center;
		background-color: black;
		color:antiquewhite;
		padding: 2rem;
		margin-left:-3rem;
		margin-right:-3rem;

		
	}


@media (min-width: 1280px){
body{
	height:fit-content;
}

h1{
	text-align: center;
	font-size:6rem;
	padding:5rem;
	color: transparent;
	-webkit-text-stroke: 2px antiquewhite;
	text-shadow: 0 0 4px antiquewhite, 0 0 10px antiquewhite; 
	animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

	10%, 20%, 45% {        
		text-shadow: none;
	}  
}

ul{
	display:flex;
	justify-content: center;
	gap:2rem;
	width:100%;
	margin-top:4rem;
}
.box1 ,.box2, .box3{
	height:50vh;
	width: 30%;
	transform:none;
	display: flex;
	grid-template-columns: repeat(3,1fr);
	gap:1rem;
	position: relative;
	justify-content: center;
	align-items: center;
	transition:transform 1s ease-in-out;
	perspective: 1000px;
	transform-style: preserve-3d;
	z-index: 1;
}


.box1:hover ,.box2:hover, .box3:hover{
	transform: rotateY(180deg);
	background-color: black;
	color:antiquewhite;
	
}

.backbox,  .backbox2, .backbox3{
position:absolute;
top:0;
left:0;
width: 100%;
background-color: black;
color:antiquewhite;
font-size:2rem;
display:flex;
justify-content: center;
align-items: center;
transform:rotateY('180deg');
backface-visibility: hidden;
padding: 20px;
z-index: -1;

}


footer{
	font-weight: bold;
	border-top: solid 2px;
	margin-top : 10rem;
	padding-top: 1rem;
	display:flex;
	justify-content: space-between;
	padding-bottom:2.5rem;
	margin-bottom:-4rem;
	
}


}