:root{
	--padding:1.5rem ;
	--font-size:2rem;
	--padding1: 1rem;
	--margin: 2rem;
	--shadow: drop-shadow(7px 7px 7px rgba(3, 2, 2, 0.25));
	--color:  antiquewhite;
	--shadow2: drop-shadow(5px 5px 5px rgba(250, 235, 215, 0.501));
	--fontfamily: Verdana, Geneva, Tahoma, sans-serif;
}


body{
	
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size : 1rem;
	line-height:1.6rem ;
	

}

header{
	padding-bottom:-7rem;
	/* margin: 0 1.8rem; */
}
h1{
	/* font-size:4rem; */
	/* line-height: 4.8rem; */
	font-family:helvetica;
	font-weight: bolder;
	padding-bottom: var(--padding);
	

}

h2{
	font-weight: bold;
	/* font-size:var(--font-size); */
	padding-bottom: 1rem;


}

section {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	margin: 0, 1.8rem;
	/* text-wrap:balance; */
}

footer{
/* display: flex; */
font-size:smaller;
padding-left:3rem;
padding-bottom:4rem;
margin:auto;
}
.navbar{
	position:flex;
	top:0;
	width: 100%;
	background-color: white;
	justify-content: center;
	filter: var(--shadow);
	border-radius: 40px;
	
	
	
}
.navlist{
	display:flex;
	list-style: none;
	padding:1rem;
	margin:-1rem;
	justify-content: space-around;
	align-items: center;
	margin-bottom:5rem;
	font-size:larger;
	
	
	
	
}
.navlist li a{
	text-decoration: none;
	font-weight: bold;
	padding: 1rem 1rem;
	border-radius: 30px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.navlist li a:hover{
	background-color: black;
	color:antiquewhite;
}

