body{
	background-color: black;
	color:#29f633;
	margin:2rem;
}

h1{
	font-size:9rem;
	line-height:9rem;
	writing-mode:vertical-rl;
	text-align: left;
	padding-left:1rem;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
	color: black;
	padding-bottom:2rem;
}

h1::first-letter {
	color:#29f633;
}

header{
	padding-bottom:3rem;
}
.title-2{
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: tomato;
}

.h1-italic{
	font-style: oblique;
	padding-left:3rem;
	color:white;
	opacity:50% ;

	
}
.h1-text2{
	color:tomato;
	opacity: 70%;
	text-decoration: underline;
}

h2{
	background-color: white;
	color:black;
	text-align: center;
	padding-top:1rem;
	margin-bottom:1.5rem;
	font-size:2rem;
	filter:hue-rotate(-50deg) drop-shadow( 6px 6px 6px tomato);
	
}
section:nth-child(2){
	

}

footer{
	border-top: solid;
	font-size:1rem;
	color:tomato;
	padding-top:2rem;
	position: relative;
}