body{
	--base:1.2rem;
    margin:var(--base);
	display:grid;
	font-family: helvetica,bolder;
	gap:var(--base);
	/* padding:calc(var(--base)*2); */}
p{
	display:flex;
	/* margin-left:10rem; */
	text-wrap:balance;
	-webkit-hyphens: auto; 
	hyphens: auto;
}

section {
/* display:block; */
padding:calc(var(--base)*2);

}

section:nth-child(2):hover,
section:nth-child(3):hover,
section:nth-child(4):hover,
section:nth-child(5):hover,
section:nth-child(6):hover {
	background-color: black;
	color:white;
	transform: scale(110%);
	transition: background-color 2s linear, transform 1s ease-in-out;
}


h1{
	color:red;
	font-size:5rem;
	line-height: 4.8rem;
	text-decoration:underline;
}

h2{
	color: white;
font-size:2rem;
padding-bottom: var(--base);
left:0;
position: sticky;
top:0;
}

.h1-italic{
	color: red;
	font-family:garamond;
	font-style:italic;
	text-align: center;
}

.h1-text{
	font-size:1rem;
	line-height: 1.9rem;
	padding-left:1.2rem;
	
}

.h1-text2{
	font-family:garamond;
	text-align:center;
}


section:nth-child(2){
	height:10rem;
	overflow-x:hidden;
	overflow-y: auto;
	background-color:lightblue;
	filter:drop-shadow(0 8px 4px rgba(0,0,0,25%));
}



section:nth-child(2) p{
	margin-left:12rem;
	
	
}

section:nth-child(3){
	height:10rem;
	overflow-x:hidden;
	overflow-y: auto;
	background-color:rgb(148, 239, 171);
	filter:drop-shadow(0 8px 4px rgba(0,0,0,25%));

}


section:nth-child(3) p{
	margin-left:12rem;
}
section:nth-child(4){
	height:10rem;
	overflow-x:hidden;
	overflow-y: auto;
	background-color:rgb(239, 145, 204);
	filter:drop-shadow(0 8px 4px rgba(0,0,0,25%));

}

section:nth-child(4) p{
	margin-left:12rem;
}

section:nth-child(5){
	height:10rem;
	overflow-x:hidden;
	overflow-y: auto;
	background-color:rgb(199, 173, 230);
	filter:drop-shadow(0 8px 4px rgba(0,0,0,25%));

}

section:nth-child(5) p{
	margin-left:12rem;
}

section:nth-child(6){
	height:10rem;
	overflow-x:hidden;
	overflow-y: auto;
	background-color:rgb(245, 181, 113);
	filter:drop-shadow(0 8px 4px rgba(0,0,0,25%));

}

section:nth-child(6) p{
	margin-left:12rem;
}

@media (min-width: 1280px){
	section{
		display:flexbox;
		padding-left: 3rem;
		justify-content: flex-end;
		margin-left: 40rem;
		

	}

	header{
		margin: auto;
	}

h1{
	font-size: 15rem;
	white-space: pre-wrap;
	line-height: 7rem;;
	margin-top:4rem;
	padding-bottom: 4rem;
	padding-left: 2rem;
	position: relative;
	
}

.h1-italic{
	background-color: red;
	max-width: 30rem;
	color:white;
	/* margin-right: 30rem; */
	margin-left:70rem;
	
}
.h1-text {
    text-align: left;
    margin-inline-end: 70rem;
    padding: 1rem;
    display: grid;
    color: white;
    background-color: red;
    border-bottom: 50rem solid red;  /* Makes the bottom border 10rem */
    padding-left: 2rem;
    margin-left: 3rem;
    height: auto; /* Ensures content height is flexible */
	grid-auto-columns: auto;
}

.h1-text2{
	margin-left: 40rem;
	margin-top: -73rem;
}
footer{
	text-align:right;
	font-size:1rem;
	

}