@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Doto:wght@100..900&family=Pacifico&family=Playfair+Display:ital@0;1&display=swap');




body{

	margin:3rem;
	background-color: white;
	background-image: linear-gradient(lightgray 1px, transparent 1px),
					  linear-gradient(90deg, lightgray 1px, transparent 1px);
	background-size:20px 20px;
	height:100vw;
}

p{
	display:flex;
	text-wrap:balance;
	-webkit-hyphens: auto; 
	hyphens: auto;
}


h1{
	font-size:3rem;
	font-family: "Pacifico";
	line-height:3rem;
	font-variant: small-caps;
	background-color: antiquewhite;
	transform: rotate(12deg);
	margin-right:-3rem;
	padding: 1rem 2rem;
		
	
}
.subh1{
	background-color: white;
	font-size:20px;
	line-height: 2rem;
	filter:drop-shadow(7px 7px 7px rgba(3, 2, 2, 0.25));
	
}


.h1-text{
	font-style:oblique;
background-color: white;
/* filter:drop-shadow(8px 10px 10px rgba(3, 2, 2, 0.25)); */
padding:1rem;
width:16rem;

}


h2{
	font-size:3rem;
	font-family: "Pacifico";
	text-align: center;
	margin-top:2rem;
	
}


section{
	margin-top:3rem;
	display:flex;
	gap:2rem;
	flex-direction: column;
	border-width: 3rem;
	background-color: antiquewhite;
	padding:1rem;
	border-radius: 50;
	/* position: relative; */
	
}
section:nth-child(2){
	/* transform: rotate(12deg); */
	/* position:sticky; */
	top:0;
	
}


section:nth-child(3){
	/* position:sticky; */
	top:20;
	
	

}

section:nth-child(4){
	/* transform: rotate(-12deg); */
	/* position:sticky; */
	top:40;

	
}

section:nth-child(6){
	/* transform: rotate(12deg); */
}


.h1-italic{
	margin-top:3rem;
}

.h1-text2{
	margin-left:1rem;
	text-decoration: underline;
	padding:var(--padding1);
	filter: var(--shadow);
	
}

footer{
	margin-top:5rem;
	padding-top:2rem;
	border-top: solid 2px;
	display: flex;
	text-align: center;
}

@media (min-width: 1280px){

	body{
	margin:3rem;
	background-color: black;
	background-image: linear-gradient(lightgray 0.6px, transparent 0.6px),
					  linear-gradient(90deg, lightgray 0.6px, transparent 0.6px);
	background-size:20px 20px;
	height:100vw;
	}


h1{

	transform:none;
	font-size: 5.7rem;
	margin:-3rem;
	padding: 6rem;
	background-color: black;
	color:antiquewhite;
	position:relative;
	overflow: hidden;
	white-space: nowrap;
}
h1 span{
	display: inline-block;
	animation: movetext 10s linear infinite;
}
@keyframes movetext{
	0% {transform: translateX(0);
}
	100% {transform: translateX(-100%);
}	
}

h1 span::first-letter{
	color: white;
}

.subh1{
	font-size: 30px;
	text-align: right;
	margin-top:2rem;
	margin-left:30rem;
	padding:2rem;
	color:black;
	background-color:antiquewhite;
	width:fit-content;
	transform:rotate(-3deg);
	border-radius: 2rem;
	filter: drop-shadow(10px 10px white);
	margin-bottom:2rem;
	border:4px solid;
	
	
	
}

.h1-italic{
	padding-top:2rem;
	background-color:black;
	color:white;
	padding:2rem;
	text-wrap:balance;
	filter: var(--shadow2);
	width:48%;
	border-radius: 2rem;
	margin-left:5rem;
	/* padding-right:3rem; */
	
	
}
.h1box{
	display:flex;
	/* grid-template-columns: repeat(1 1fr); */
	gap:6rem;
}
.h1name{
	background-color: antiquewhite;
	color:black;
	padding:0.7rem;
	margin-right:2rem;
	margin-top:0.5rem;
	font-weight: bold;
	border-radius: 1rem;
	justify-content: center;
	align-items: center;
	display:grid;
	text-decoration: underline;


}

.h1-text{
width:50%;
font-style:oblique;
background-color: white;
filter:  drop-shadow(10px 10px  antiquewhite);
padding:1rem;
margin-bottom:1rem;
width:20%;
height:50%;
margin-top:7rem;
transform: rotate(5deg);

}

.h1-text2{
padding-left:25rem;
margin-bottom:-7rem;
	
}

h2{
	background-color: black;
	color:white;
	padding:2rem;
	border-radius: 3rem;
	text-align: center;
	font-size:2.1rem;
	/* padding-top: 1rem; */
	line-height: 2.7rem;
	/* text-decoration: underline; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	
	
}

header{
	margin-bottom:6rem;
}
.scrolldown{
	background-color:white;
	color: black;
	width:fit-content;
	padding:1rem;
	margin:6rem;
	position:fixed;
	top:60%;
	z-index: -1;
	border-radius: 1.5rem;
	/* transform: rotate(4deg); */
	font-weight: bold;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	animation: flicker 1s infinite;
	

}
@keyframes flicker{
	
	0%{
		color:black;
	}
	50%{
		color:transparent;
	}
	100%{
		color:black;
	}
}


section{
	width: 55%;
	display:flex;
	gap:10px;
	margin-left: 23rem;
	border-radius: 3rem;
	border: 4px solid black;
	filter:drop-shadow(10px 10px white);
	overflow-x: hidden;
	overflow-y: auto;
	height: 50vh;
	padding:2.2rem;
	text-wrap:balance;
	padding-top:1rem;
	margin-top:6rem;
	line-height: 1.7rem;
	hyphens: auto;
	-webkit-hyphens: auto;
	margin-bottom:5rem;
	transform: none;


}

footer{
	font-weight: bold;
	border-top: solid 2px;
	margin-top : 25rem;
	margin-bottom: 6rem;
	padding-top: 3rem;
	padding-bottom: 8rem;
	text-align: center;
	background-color: black;
	color:antiquewhite;
	padding: 3rem;
	margin-left:-3rem;
	margin-right:-3rem;
	justify-content: space-between;
	
}

.go-top{
	position:fixed;
	bottom:2rem;
	right: 2.5rem;
	font-size:1.3rem;
	background-color: black;
	color:antiquewhite;
	border: 1px solid antiquewhite;
	padding:1rem;
	width:2.5rem;
	height:2.5rem;
	display:flex;
	align-items: center;
	justify-content: center;
	

}
.go-top:hover{
	background-color: antiquewhite;
	color:black;
}

}